.gpt3__blog-container_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-blog);
}

.gpt3__blog-container_article-image {
  flex: 1;
}

.gpt3__blog-container_article-image img {
  width: 100%;
  height: 100%;
}

.gpt3__blog-container_article-content {
  flex: 1.5;
  height: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gpt3__blog-container_article-content p {
  font-weight: bold;
  font-size: 0.73rem;
  line-height: 2.19rem;
  color: #fff;
  margin: 0;
  cursor: unset;
}

.gpt3__blog-container_article-content p:last-child {
  cursor: pointer;
}

.gpt3__blog-container_article-content h3 {
  font-weight: 800;
  font-size: 1.57rem;
  line-height: 1.88rem;
  color: #fff;
  margin-bottom: 3rem;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .gpt3__blog-container_article-content h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__blog-container_article-content h3 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}
