.gpt3__features-container__feature {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 1rem;
  margin-left: 0;
}

.gpt3__features-container__feature-title {
  flex: 1;
  max-width: 11.25rem;
  margin-right: 2rem;
}

.gpt3__features-container__feature-title h1 {
  font-weight: 800;
  font-size: 1.13rem;
  line-height: 1.5rem;
  color: #fff;
}

.gpt3__features-container__feature-bar {
  width: 38px;
  height: 3px;
  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}

.gpt3__features-container__feature-text {
  flex: 2;
  max-width: 24.38rem;
  display: flex;
}

.gpt3__features-container__feature-text p {
  margin: 0;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.5rem;
  color: var(--color-text);
}

@media screen and (max-width: 550px) {
  .gpt3__features-container__feature-title h1 {
    font-size: 0.88rem;
    line-height: 1.38rem;
  }

  .gpt3__features-container__feature-text p {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: var(--color-text);
  }

  .gpt3__features-container__feature {
    margin: 1rem 0;
  }
}
