.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 2rem 6rem;
  width: 100%;
  z-index: 1;
  background: var(--gradient-bar);
  opacity: 0.8;
}

.gpt3__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gpt3__navbar-links_logo {
  margin-right: 2rem;
}

.gpt3__navbar-links_logo img {
  width: 3.875rem;
  height: 1rem;
}

.gpt3__navbarmenu_container p {
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.56rem;
  text-transform: capitalize;
  margin: 0 1rem;
}

.gpt3__navbar-menu_container button {
  padding: 0.5rem 1rem;
  background: #ff4820;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  border-radius: 0.31rem;
  border: 0;
  outline: none;
  cursor: pointer;
}

.gpt3__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.gpt3__navbar-menu svg {
  cursor: pointer;
}

.gpt3__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 2.5rem;
  right: 0;
  margin-top: 1rem;
  min-width: 13.13rem;
  border-radius: 0.31rem;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1050px) {
  .gpt3__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__navbar {
    padding: 2rem;
  }

  .gpt3__navbar-menu_container {
    top: 1.25rem;
  }
}
